- __NOTE__ I'm lazy so I'm going to use list comphrensions to write some of the "boiler plate" code
    - also _note_ some absue of the print() functon












- And just to keep things clean

```

pandas.__version__

'1.0.3'


```

In [1]:
import pandas as pd

- Loading data

_path from current location:_

```
"../Datasets/UCR/IMPD_UCR/"
```

In [2]:
read_ucr_07_09 = [f"ucr_0{x} = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_200{x}_Data.csv')\n" for x in range(7,10)]
read_ucr_10_19 = [f"ucr_{x} = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_20{x}_Data.csv')\n" for x in range(10,19)]

read_ucrs_from_csv = read_ucr_07_09 + read_ucr_10_19

In [3]:
read_ucrs_from_csv = "".join(read_ucrs_from_csv)

In [4]:
print(read_ucrs_from_csv)

ucr_07 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2007_Data.csv')
ucr_08 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2008_Data.csv')
ucr_09 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2009_Data.csv')
ucr_10 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2010_Data.csv')
ucr_11 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2011_Data.csv')
ucr_12 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2012_Data.csv')
ucr_13 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2013_Data.csv')
ucr_14 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2014_Data.csv')
ucr_15 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2015_Data.csv')
ucr_16 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2016_Data.csv')
ucr_17 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2017_Data.csv')
ucr_18 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2018_Data.csv')

In [5]:
ucr_07 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2007_Data.csv')
ucr_08 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2008_Data.csv')
ucr_09 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2009_Data.csv')
ucr_10 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2010_Data.csv')
ucr_11 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2011_Data.csv')
ucr_12 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2012_Data.csv')
ucr_13 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2013_Data.csv')
ucr_14 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2014_Data.csv')
ucr_15 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2015_Data.csv')
ucr_16 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2016_Data.csv')
ucr_17 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2017_Data.csv')
ucr_18 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_2018_Data.csv')

In [6]:
# not up to date, should not be used without explicityly declaring it's limited use case
ucr_19 = pd.read_csv('../Datasets/UCR/IMPD_UCR/IMPD_UCR_Current_Year.csv')

- Exploring the data

In [7]:
ucr_07.columns

Index(['OBJECTID', 'UCR', 'CRIME', 'DATE_', 'TIME', 'CASE', 'ADDRESS', 'BEAT',
       'X_COORD', 'Y_COORD'],
      dtype='object')

In [8]:
ucr_08.columns

Index(['OBJECTID', 'UCR', 'CRIME', 'DATE_', 'TIME', 'CASE', 'ADDRESS', 'BEAT',
       'X_COORD', 'Y_COORD'],
      dtype='object')

In [9]:
ucr_08.columns

Index(['OBJECTID', 'UCR', 'CRIME', 'DATE_', 'TIME', 'CASE', 'ADDRESS', 'BEAT',
       'X_COORD', 'Y_COORD'],
      dtype='object')

In [10]:
ucr_columns_07_09 = [f"print('ucr_0{x}: ', ucr_0{x}.columns)\n" for x in range(7,10)]
ucr_columns_10_19 = [f"print('ucr_{x}: ', ucr_{x}.columns)\n" for x in range(10,20)]
ucr_columns_07_09 = "".join(ucr_columns_07_09)
ucr_columns_10_19 = "".join(ucr_columns_10_19)
print(ucr_columns_07_09)
print(ucr_columns_10_19)

print('ucr_07: ', ucr_07.columns)
print('ucr_08: ', ucr_08.columns)
print('ucr_09: ', ucr_09.columns)

print('ucr_10: ', ucr_10.columns)
print('ucr_11: ', ucr_11.columns)
print('ucr_12: ', ucr_12.columns)
print('ucr_13: ', ucr_13.columns)
print('ucr_14: ', ucr_14.columns)
print('ucr_15: ', ucr_15.columns)
print('ucr_16: ', ucr_16.columns)
print('ucr_17: ', ucr_17.columns)
print('ucr_18: ', ucr_18.columns)
print('ucr_19: ', ucr_19.columns)

In [11]:
print('ucr_07: ', ucr_07.columns)
print('ucr_08: ', ucr_08.columns)
print('ucr_09: ', ucr_09.columns)

print('ucr_10: ', ucr_10.columns)
print('ucr_11: ', ucr_11.columns)
print('ucr_12: ', ucr_12.columns)
print('ucr_13: ', ucr_13.columns)
print('ucr_14: ', ucr_14.columns)
print('ucr_15: ', ucr_15.columns)
print('ucr_16: ', ucr_16.columns)
print('ucr_17: ', ucr_17.columns)
print('ucr_18: ', ucr_18.columns)
print('ucr_19: ', ucr_19.columns)

ucr_07:  Index(['OBJECTID', 'UCR', 'CRIME', 'DATE_', 'TIME', 'CASE', 'ADDRESS', 'BEAT',
       'X_COORD', 'Y_COORD'],
      dtype='object')
ucr_08:  Index(['OBJECTID', 'UCR', 'CRIME', 'DATE_', 'TIME', 'CASE', 'ADDRESS', 'BEAT',
       'X_COORD', 'Y_COORD'],
      dtype='object')
ucr_09:  Index(['OBJECTID', 'UCR', 'CRIME', 'DATE_', 'TIME', 'CASE', 'ADDRESS', 'BEAT',
       'X_COORD', 'Y_COORD'],
      dtype='object')
ucr_10:  Index(['OBJECTID', 'UCR', 'CRIME', 'DATE_', 'TIME', 'CASE', 'ADDRESS', 'BEAT',
       'X_COORD', 'Y_COORD'],
      dtype='object')
ucr_11:  Index(['OBJECTID', 'UCR', 'CRIME', 'DATE_', 'TIME', 'CASE', 'ADDRESS', 'BEAT',
       'X_COORD', 'Y_COORD'],
      dtype='object')
ucr_12:  Index(['OBJECTID', 'UCR', 'CRIME', 'DATE_', 'TIME', 'CASE', 'ADDRESS', 'BEAT',
       'X_COORD', 'Y_COORD'],
      dtype='object')
ucr_13:  Index(['OBJECTID', 'UCR', 'CRIME', 'DATE_', 'TIME', 'CASE', 'ADDRESS', 'BEAT',
       'X_COORD', 'Y_COORD'],
      dtype='object')
ucr_14:  Index(['OBJECTID', 'UCR', 'CRIME', 'DATE_', 'TIME', 'CASE', 'ADDRESS', 'BEAT',
       'X_COORD', 'Y_COORD'],
      dtype='object')
ucr_15:  Index(['OBJECTID', 'UCR', 'CRIME', 'DATE_', 'TIME', 'CASE', 'ADDRESS', 'BEAT',
       'X_COORD', 'Y_COORD'],
      dtype='object')
ucr_16:  Index(['OBJECTID', 'ID', 'UCR', 'CRIME', 'DATE_', 'TIME', 'CASE', 'ADDRESS',
       'BEAT', 'X_COORD', 'Y_COORD'],
      dtype='object')
ucr_17:  Index(['OBJECTID', 'ID', 'UCR', 'CRIME', 'DATE_', 'TIME', 'CASE', 'ADDRESS',
       'BEAT', 'X_COORD', 'Y_COORD'],
      dtype='object')
ucr_18:  Index(['OBJECTID', 'UCR', 'CRIME', 'DATE_', 'TIME', 'CASE', 'ADDRESS', 'BEAT',
       'X_COORD', 'Y_COORD'],
      dtype='object')
ucr_19:  Index(['OBJECTID', 'UCR', 'CRIME', 'DATE_', 'TIME', 'CASE', 'ADDRESS', 'BEAT',
       'X_COORD', 'Y_COORD'],
      dtype='object')

In [12]:
ucr_18

,OBJECTID,UCR,CRIME,DATE_,TIME,CASE,ADDRESS,BEAT,X_COORD,Y_COORD
0,47681,110,CRIMINAL HOMICIDE,2017-07-09T00:00:00.000Z,05:04,D170075774C,617 N LUETT AVE,SW15,171487.71,1649474.86
1,47682,110,CRIMINAL HOMICIDE,2018-01-03T00:00:00.000Z,09:08,D180000737A,3610 SCHOFIELD AVE,ND20,197928.47,1666201.67
2,47683,110,CRIMINAL HOMICIDE,2018-01-05T00:00:00.000Z,04:12,D180001446A,1700 N SOMERSET AVE,NW25,171887.91,1654544.37
3,47684,110,CRIMINAL HOMICIDE,2018-01-05T00:00:00.000Z,16:25,D130060021A,6017 WINGEDFOOT CT,NW80,165518.21,1681333.50
4,47685,110,CRIMINAL HOMICIDE,2018-01-05T00:00:00.000Z,21:56,D180001732A,3600 N MITTHOEFER RD,NE70,236939.04,1666288.74
...,...,...,...,...,...,...,...,...,...,...
47459,92676,260,STOLEN VEHICLE,2018-06-22T00:00:00.000Z,18:54,D180065951A,5110 W PIKE PLAZA RD,NW33,164684.89,1670797.44
47460,92677,260,STOLEN VEHICLE,2018-06-22T00:00:00.000Z,19:30,D180066031A,4325 S MERIDIAN ST,SE23,191132.03,1622461.24
47461,92678,260,STOLEN VEHICLE,2018-06-22T00:00:00.000Z,20:00,D180066142A,4010 MONACO DR,ND42,206847.04,1681187.19
47462,92679,260,STOLEN VEHICLE,2018-06-22T00:00:00.000Z,22:26,D180066049A,602 E THOMPSON RD,SE31,193042.77,1619714.16
47463,92680,260,STOLEN VEHICLE,2018-06-22T00:00:00.000Z,99:99,D180065605A,10209 BARIBEAU CT,NE62,238232.00,1658382.37

In [13]:
# this extra column of ID seems pointless, let's remove it
ucr_16

,OBJECTID,ID,UCR,CRIME,DATE_,TIME,CASE,ADDRESS,BEAT,X_COORD,Y_COORD
0,1,1,110,CRIMINAL HOMICIDE,2015-05-16T00:00:00.000Z,23:46,D150052763B,435 MASSACHUSETTS AVE,DT20,191899.50,1648460.03
1,2,2,110,CRIMINAL HOMICIDE,2016-01-04T00:00:00.000Z,23:00,D160001449A,6041 WINDSOR DR,NE30,216717.83,1657391.39
2,3,3,110,CRIMINAL HOMICIDE,2016-01-05T00:00:00.000Z,22:24,D160001881A,3307 HOVEY ST,ND20,197217.19,1664077.36
3,4,4,110,CRIMINAL HOMICIDE,2016-01-07T00:00:00.000Z,20:09,D160002725A,9067 DORAL CT,ND60,222567.71,1701433.99
4,5,5,110,CRIMINAL HOMICIDE,2016-01-08T00:00:00.000Z,18:26,D160003135A,E 49TH ST & PRIMROSE AVE,ND50,197268.19,1673809.47
...,...,...,...,...,...,...,...,...,...,...,...
53952,53953,53953,260,STOLEN VEHICLE,2016-12-31T00:00:00.000Z,13:38,D160155385A,205 E BERWYN ST,SE20,190775.49,1630515.11
53953,53954,53954,260,STOLEN VEHICLE,2016-12-31T00:00:00.000Z,13:50,D170004149A,2701 N SHADELAND AVE,NE30,221647.14,1660408.63
53954,53955,53955,260,STOLEN VEHICLE,2016-12-31T00:00:00.000Z,13:54,D160155391A,3243 MARS HILL ST,SW70,170111.38,1627594.75
53955,53956,53956,260,STOLEN VEHICLE,2016-12-31T00:00:00.000Z,14:58,D160155408A,3517 HORSE DR,SW10,173413.36,1645961.94
53956,53957,53957,260,STOLEN VEHICLE,2016-12-31T00:00:00.000Z,21:00,D160155508A,2503 SHELBY ST,SE20,195155.46,1633421.85

In [14]:
ucr_17

,OBJECTID,ID,UCR,CRIME,DATE_,TIME,CASE,ADDRESS,BEAT,X_COORD,Y_COORD
0,1001,1001,132,ATTEMPT ARMED ROBBERY,2017-08-16T00:00:00.000Z,09:21,D170091843A,3855 BREEN DR,NE70,232819.71,1668418.01
1,1002,1002,132,ATTEMPT ARMED ROBBERY,2017-08-21T00:00:00.000Z,01:03,D170093802A,2800 BROOKSIDE PKWY N DR,NE10,201667.43,1653541.93
2,1003,1003,132,ATTEMPT ARMED ROBBERY,2017-08-21T00:00:00.000Z,16:00,D170094090A,2816 STUART ST,NE10,203873.50,1660844.97
3,1004,1004,132,ATTEMPT ARMED ROBBERY,2017-08-22T00:00:00.000Z,23:11,D170094766A,9902 HEATHER HILLS RD,NE60,236486.31,1655824.64
4,1005,1005,132,ATTEMPT ARMED ROBBERY,2017-08-27T00:00:00.000Z,04:00,D170096605A,W 71ST ST/N MICHIGAN RD,ND70,175623.92,1689311.03
...,...,...,...,...,...,...,...,...,...,...,...
50147,15996,15996,191,BURG-FORCIBLE ENT-RES DAY,2017-09-30T00:00:00.000Z,12:13,D170111593A,1428 N COLORADO AVE,NE50,207456.64,1653139.01
50148,15997,15997,191,BURG-FORCIBLE ENT-RES DAY,2017-09-30T00:00:00.000Z,17:00,D170111099A,3012 EAGLEDALE DR,NW20,170338.35,1661981.65
50149,15998,15998,191,BURG-FORCIBLE ENT-RES DAY,2017-10-01T00:00:00.000Z,09:09,D170111140A,234 S ROUTIERS AVE,NE60,230599.35,1646699.64
50150,15999,15999,191,BURG-FORCIBLE ENT-RES DAY,2017-10-01T00:00:00.000Z,10:25,D170111157A,8843 WALMA DR,NE60,231055.27,1655249.30
50151,16000,16000,191,BURG-FORCIBLE ENT-RES DAY,2017-10-01T00:00:00.000Z,10:30,D170111686A,1929 N COLORADO AVE,NE30,207588.93,1655718.13

In [15]:
ucr_16 = ucr_16.drop(['ID'], axis=1)

ucr_17 = ucr_17.drop(['ID'], axis=1)

In [16]:
list_of_ucr = [f"ucr_0{x}" for x in range(8,10)] + [f"ucr_{z}" for z in range(10, 20)]

In [17]:
list_of_ucr = ", ".join(list_of_ucr)
print(list_of_ucr)

ucr_08, ucr_09, ucr_10, ucr_11, ucr_12, ucr_13, ucr_14, ucr_15, ucr_16, ucr_17, ucr_18, ucr_19

In [18]:
combined_ucr_07_19 = ucr_07.append([ucr_08, ucr_09, ucr_10, 
                              ucr_11, ucr_12, ucr_13, 
                              ucr_14, ucr_15, ucr_16, 
                              ucr_17, ucr_18, ucr_19], ignore_index=True)

In [19]:
df = combined_ucr_07_19.copy()

In [20]:
# kinda pointless at this stage
df.describe()

            OBJECTID            UCR        X_COORD       Y_COORD
count  750728.000000  750728.000000  750728.000000  7.507280e+05
mean    40476.301719     212.619343  194790.308650  1.653652e+06
std     27807.301721      37.369961   26661.770622  4.590002e+04
min         1.000000     110.000000  142295.670000  3.320948e+05
25%     18769.000000     174.000000  176684.870000  1.642213e+06
50%     37537.000000     232.000000  195304.755000  1.653276e+06
75%     56319.000000     244.000000  209944.297500  1.668147e+06
max    144227.000000     260.000000  639056.470000  1.704506e+06

In [21]:
df.isnull().sum()

OBJECTID    0
UCR         0
CRIME       0
DATE_       0
TIME        0
CASE        0
ADDRESS     0
BEAT        0
X_COORD     0
Y_COORD     0
dtype: int64

### Dealing with date and time formatting

- Altering the date, creating more variables for more options of seeing trends

In [22]:
df['DATE_'] = pd.to_datetime(df.DATE_)

In [23]:
type(df['DATE_'])

pandas.core.series.Series

In [24]:
df['YMD'] = df['DATE_'].dt.strftime('%Y-%m-%d')
df['YEAR'] = df['DATE_'].dt.year
df['MONTH'] = df['DATE_'].dt.month
df['DAY'] = df['DATE_'].dt.strftime('%d')
df['WEEKDAY'] = df['DATE_'].dt.strftime('%a')

In [44]:
df.head()

,OBJECTID,UCR,CRIME,DATE_,TIME,CASE,ADDRESS,BEAT,X_COORD,Y_COORD,YMD,YEAR,MONTH,DAY,WEEKDAY,ABBR_CRIME
0,1001,133,ROBBERY - ATTEMPT STRARM,2007-03-21 00:00:00+00:00,20:30,070040361I,02200 N MERIDIAN ST,NW13,190236.37,1657266.05,2007-03-21,2007,3,21,Wed,ROBBERY ATTEMPT
1,1002,133,ROBBERY - ATTEMPT STRARM,2007-03-24 00:00:00+00:00,12:53,070041855I,05630 FLIGHT SCHOOL DR,SW72,161402.77,1621638.94,2007-03-24,2007,3,24,Sat,ROBBERY ATTEMPT
2,1003,133,ROBBERY - ATTEMPT STRARM,2007-03-24 00:00:00+00:00,23:29,070042125I,05349 W PIKE PLAZA RD,NW33,163351.68,1669325.90,2007-03-24,2007,3,24,Sat,ROBBERY ATTEMPT
3,1004,133,ROBBERY - ATTEMPT STRARM,2007-03-25 00:00:00+00:00,04:05,070042251I,00200 SPICEWOOD DR,SE31,191124.92,1626135.34,2007-03-25,2007,3,25,Sun,ROBBERY ATTEMPT
4,1005,133,ROBBERY - ATTEMPT STRARM,2007-03-25 00:00:00+00:00,18:01,070000517I,11351 E WASHINGTON ST,NE63,244320.27,1649255.47,2007-03-25,2007,3,25,Sun,ROBBERY ATTEMPT

- Dealing with time

In [65]:
df['TIME'].min(), df['TIME'].max()

('  :', '99:99')

In [66]:
lowest_time = df['TIME'].min()

df.loc[df['TIME'] == lowest_time]

,OBJECTID,UCR,CRIME,DATE_,TIME,CASE,ADDRESS,BEAT,X_COORD,Y_COORD,YMD,YEAR,MONTH,DAY,WEEKDAY,ABBR_CRIME
25092,26093,190,BURG - FRC ENT - RES NGT,2007-03-07 00:00:00+00:00,:,070035095I,07451 WILDCAT RUN LN,SE71,226037.54,1617599.31,2007-03-07,2007,3,07,Wed,BURGLARY
25097,26098,190,BURG - FRC ENT - RES NGT,2007-03-08 00:00:00+00:00,:,070034584I,01635 LAWTON AV,SE23,197418.44,1637539.19,2007-03-08,2007,3,08,Thu,BURGLARY
25246,26247,190,BURG - FRC ENT - RES NGT,2007-03-30 00:00:00+00:00,:,070046821I,00017 N MOUNT ST,SW13,177757.69,1645908.04,2007-03-30,2007,3,30,Fri,BURGLARY
25261,26262,190,BURG - FRC ENT - RES NGT,2007-04-01 00:00:00+00:00,:,070047355I,00402 S GRAY ST,SE12,202952.67,1644160.22,2007-04-01,2007,4,01,Sun,BURGLARY
25273,26277,190,BURG - FRC ENT - RES NGT,2007-04-02 00:00:00+00:00,:,070063775I,01714 BARTH AV,SE21,194653.16,1638040.18,2007-04-02,2007,4,02,Mon,BURGLARY
25319,26320,190,BURG - FRC ENT - RES NGT,2007-04-11 00:00:00+00:00,:,070084242I,00400 W SOUTHPORT RD,SW73,187557.07,1608777.38,2007-04-11,2007,4,11,Wed,BURGLARY
26879,25880,190,BURG - FRC ENT - RES NGT,2007-01-22 00:00:00+00:00,:,070011600I,02647 COLD SPRING MANOR D,NW22,176832.09,1659818.85,2007-01-22,2007,1,22,Mon,BURGLARY
27171,27172,190,BURG - FRC ENT - RES NGT,2007-07-23 00:00:00+00:00,:,070113814I,01936 VAN BUREN CT,SE23,204333.35,1637105.75,2007-07-23,2007,7,23,Mon,BURGLARY
27252,27253,190,BURG - FRC ENT - RES NGT,2007-08-01 00:00:00+00:00,:,070129568I,02242 S RANDOLPH ST,SE24,198732.38,1635123.93,2007-08-01,2007,8,01,Wed,BURGLARY
27344,27345,190,BURG - FRC ENT - RES NGT,2007-08-10 00:00:00+00:00,:,070126243I,02238 N TALBOTT ST,NE11,190973.56,1657530.39,2007-08-10,2007,8,10,Fri,BURGLARY
27345,27346,190,BURG - FRC ENT - RES NGT,2007-08-10 00:00:00+00:00,:,070127389I,03641 GUILFORD AV,ND13,194497.59,1666266.59,2007-08-10,2007,8,10,Fri,BURGLARY
29030,28031,190,BURG - FRC ENT - RES NGT,2007-10-28 00:00:00+00:00,:,070174985I,00034 IOWA ST,SE21,189949.98,1637730.04,2007-10-28,2007,10,28,Sun,BURGLARY
29187,28188,190,BURG - FRC ENT - RES NGT,2007-11-16 00:00:00+00:00,:,070184660I,02025 CALHOUN ST,SE23,198968.74,1636320.38,2007-11-16,2007,11,16,Fri,BURGLARY
29188,28189,190,BURG - FRC ENT - RES NGT,2007-11-16 00:00:00+00:00,:,070184636I,02049 CALHOUN ST,SE23,199025.97,1636320.78,2007-11-16,2007,11,16,Fri,BURGLARY
32677,33678,192,BURG - FRC ENT - NON-RES NG,2007-03-22 00:00:00+00:00,:,070041098I,00020 N PENNSYLVANIA ST,DT31,190434.18,1646322.73,2007-03-22,2007,3,22,Thu,BURGLARY
32697,33698,192,BURG - FRC ENT - NON-RES NG,2007-04-02 00:00:00+00:00,:,070046752I,03950 W MOORESVILLE RD,SW72,169663.11,1626692.79,2007-04-02,2007,4,02,Mon,BURGLARY
32900,33901,192,BURG - FRC ENT - NON-RES NG,2007-05-31 00:00:00+00:00,:,070083564I,01128 S WEST ST,DT34,187398.66,1640918.68,2007-05-31,2007,5,31,Thu,BURGLARY
34565,34566,192,BURG - FRC ENT - NON-RES NG,2007-11-14 00:00:00+00:00,:,070184000I,03621 W MORRIS ST,SW21,172261.18,1640110.40,2007-11-14,2007,11,14,Wed,BURGLARY
35630,35631,200,BURG - NO FRC - RES NGT,2007-06-08 00:00:00+00:00,:,070099287J,04816 BROADWAY ST,ND53,193193.56,1673434.22,2007-06-08,2007,6,08,Fri,BURGLARY
37837,38838,212,BURG - ATTMPT - NON-RES NGT,2007-04-05 00:00:00+00:00,:,070048286I,07145 N MICHIGAN RD,ND74,175791.96,1688910.86,2007-04-05,2007,4,05,Thu,BURGLARY
37855,38856,212,BURG - ATTMPT - NON-RES NGT,2007-05-08 00:00:00+00:00,:,070067075I,03315 MADISON AV,SE31,192740.57,1628338.40,2007-05-08,2007,5,08,Tue,BURGLARY
37938,38939,212,BURG - ATTMPT - NON-RES NGT,2007-08-04 00:00:00+00:00,:,070122358I,05855 MADISON AV,SE81,196917.60,1615063.03,2007-08-04,2007,8,04,Sat,BURGLARY
99829,24952,190,BURG - FRC ENT - RES NGT,2008-03-01 00:00:00+00:00,:,080051037I,02323 ENGLISH AV,SE12,199615.45,1643494.16,2008-03-01,2008,3,01,Sat,BURGLARY
101026,25149,190,BURG - FRC ENT - RES NGT,2008-03-30 00:00:00+00:00,:,080049329I,03040 N COLORADO AV,ND22,207611.57,1662361.82,2008-03-30,2008,3,30,Sun,BURGLARY
101614,25737,190,BURG - FRC ENT - RES NGT,2008-06-13 00:00:00+00:00,:,080092133I,01050 N TIBBS AV,SW11,173750.79,1651484.58,2008-06-13,2008,6,13,Fri,BURGLARY
101928,26050,190,BURG - FRC ENT - RES NGT,2008-07-16 00:00:00+00:00,:,080111338I,01634 RINGGOLD AV,SE21,194321.38,1638405.24,2008-07-16,2008,7,16,Wed,BURGLARY
102551,26674,190,BURG - FRC ENT - RES NGT,2008-09-27 00:00:00+00:00,:,080161604I,03537 W MICHIGAN ST,SW13,172758.63,1648803.15,2008-09-27,2008,9,27,Sat,BURGLARY
102746,26869,190,BURG - FRC ENT - RES NGT,2008-10-19 00:00:00+00:00,:,080166977I,06423 WOODS EDGE S DR,ND61,218641.47,1698234.21,2008-10-19,2008,10,19,Sun,BURGLARY
109326,33449,192,BURG - FRC ENT - NON-RES NG,2008-05-17 00:00:00+00:00,:,080077079I,00843 E NEW YORK ST,DT31,194200.53,1647606.78,2008-05-17,2008,5,17,Sat,BURGLARY
109387,33509,192,BURG - FRC ENT - NON-RES NG,2008-06-11 00:00:00+00:00,:,080090380I,01223 N EDMONDSON AV,NE65,220350.10,1652485.32,2008-06-11,2008,6,11,Wed,BURGLARY
110869,34992,200,BURG - NO FRC - RES NGT,2008-06-04 00:00:00+00:00,:,080087441I,10229 JOHN MARSHALL DR N,NE73,237901.58,1666242.86,2008-06-04,2008,6,04,Wed,BURGLARY
110891,35014,200,BURG - NO FRC - RES NGT,2008-06-11 00:00:00+00:00,:,080090934I,05107 BEECH DR,NW62,170143.88,1674765.69,2008-06-11,2008,6,11,Wed,BURGLARY
110908,35031,200,BURG - NO FRC - RES NGT,2008-06-16 00:00:00+00:00,:,080093832I,08050 DOWITCH LN,ND73,179087.99,1694947.25,2008-06-16,2008,6,16,Mon,BURGLARY
110958,35081,200,BURG - NO FRC - RES NGT,2008-06-27 00:00:00+00:00,:,080100591I,01617 COUNTRYSIDE LN,SW82,147328.37,1638024.86,2008-06-27,2008,6,27,Fri,BURGLARY
111053,35176,200,BURG - NO FRC - RES NGT,2008-07-16 00:00:00+00:00,:,080111505I,04125 BROADWAY ST,ND43,193407.37,1669468.35,2008-07-16,2008,7,16,Wed,BURGLARY
111180,35303,200,BURG - NO FRC - RES NGT,2008-08-16 00:00:00+00:00,:,080130580I,06220 EASTRIDGE DR,NE65,217613.08,1651896.26,2008-08-16,2008,8,16,Sat,BURGLARY
185424,36369,200,BURG - NO FRC - RES NGT,2009-01-01 00:00:00+00:00,:,090071433I,02309 N CAPITOL AV,NW13,189109.07,1657952.40,2009-01-01,2009,1,01,Thu,BURGLARY
185504,36449,200,BURG - NO FRC - RES NGT,2009-02-23 00:00:00+00:00,:,090025323I,00036 S BUTLER AV,NE54,211868.02,1647109.17,2009-02-23,2009,2,23,Mon,BURGLARY
316250,24582,190,BURG - FRC ENT - RES NGT,2011-01-15 00:00:00+00:00,:,D110007870A,00021 MERIDIAN GARDENS LN,SE31,189835.36,1625162.64,2011-01-15,2011,1,15,Sat,BURGLARY
316379,24711,190,BURG - FRC ENT - RES NGT,2011-02-02 00:00:00+00:00,:,D110016669A,00115 STEPHANIE LN,SE31,190378.51,1629777.29,2011-02-02,2011,2,02,Wed,BURGLARY
316845,25177,190,BURG - FRC ENT - RES NGT,2011-03-31 00:00:00+00:00,:,D110080758A,00941 W 25TH ST,NW12,184789.19,1659257.92,2011-03-31,2011,3,31,Thu,BURGLARY
317466,25798,190,BURG - FRC ENT - RES NGT,2011-06-18 00:00:00+00:00,:,D110088968A,01629 HARLAN ST,SE23,199119.21,1638445.85,2011-06-18,2011,6,18,Sat,BURGLARY
328365,37697,202,BURG - NO FRC - NON-RES NGT,2011-06-07 00:00:00+00:00,:,D110079718A,00700 W 38TH ST,ND42,186310.31,1667296.56,2011-06-07,2011,6,07,Tue,BURGLARY
329787,38119,210,BURG - ATTMPT - RES NGT,2011-06-22 00:00:00+00:00,:,D110087207A,08007 RICHARDT ST,ND63,224336.94,1694779.62,2011-06-22,2011,6,22,Wed,BURGLARY

In [68]:
max_time = df['TIME'].max()

df.loc[df['TIME'] == max_time]

,OBJECTID,UCR,CRIME,DATE_,TIME,CASE,ADDRESS,BEAT,X_COORD,Y_COORD,YMD,YEAR,MONTH,DAY,WEEKDAY,ABBR_CRIME
316106,24438,190,BURG - FRC ENT - RES NGT,2010-06-25 00:00:00+00:00,99:99,D100092051A,04636 SANTA CRUZ DR,NW82,167379.63,1692585.05,2010-06-25,2010,6,25,Fri,BURGLARY
316107,24439,190,BURG - FRC ENT - RES NGT,2010-09-14 00:00:00+00:00,99:99,D110039244A,03141 EAST KELLY STREET,SE24,203305.62,1634608.72,2010-09-14,2010,9,14,Tue,BURGLARY
316109,24441,190,BURG - FRC ENT - RES NGT,2010-10-01 00:00:00+00:00,99:99,D110087291A,01025 N EWING,NE21,204960.78,1651582.03,2010-10-01,2010,10,01,Fri,BURGLARY
316110,24442,190,BURG - FRC ENT - RES NGT,2010-10-01 00:00:00+00:00,99:99,D110088601A,01613 S SHERMAN DR,SE14,205721.56,1638676.33,2010-10-01,2010,10,01,Fri,BURGLARY
316118,24450,190,BURG - FRC ENT - RES NGT,2010-11-29 00:00:00+00:00,99:99,D110035102A,03813 N SHERMAN DR,ND21,205632.60,1667446.39,2010-11-29,2010,11,29,Mon,BURGLARY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750676,129144,256,LARCENY-UNDER 50-FROM BUILD,2019-01-24 00:00:00+00:00,99:99,I190013381A,720 ESKENAZI AVE,DT11,182509.17,1650228.22,2019-01-24,2019,1,24,Thu,LARCENY
750696,129164,258,LARCENY-UNDER 50-OTHER,2018-04-01 00:00:00+00:00,99:99,I190008072A,2628 W 17TH ST,NW25,176781.84,1654343.10,2018-04-01,2018,4,01,Sun,LARCENY
750699,129167,258,LARCENY-UNDER 50-OTHER,2018-12-06 00:00:00+00:00,99:99,I190006109A,8060 E 88TH ST,ND63,227186.86,1700372.10,2018-12-06,2018,12,06,Thu,LARCENY
750700,129168,258,LARCENY-UNDER 50-OTHER,2018-12-21 00:00:00+00:00,99:99,I190001124A,5724 PEMBERLY DR,SW42,161163.07,1608966.83,2018-12-21,2018,12,21,Fri,LARCENY
750726,129194,258,LARCENY-UNDER 50-OTHER,2019-01-12 00:00:00+00:00,99:99,I190006119A,901 FORT WAYNE AVE,DT21,191875.35,1650568.75,2019-01-12,2019,1,12,Sat,LARCENY

- Okay, this is the funnest I've had with naming functions/variables

In [110]:
def cleaningTime(crimeTime):
    # just to ensure they're all strings
    crimeTime = str(crimeTime)
    # stripping random white space around 
    crimeTime = crimeTime.strip()
    if crimeTime > "23:59":
        return "00:00"
    elif crimeTime == ":":
        return "00:00"
    else:
        return crimeTime

- Testing if the function works

In [111]:
# originally was ":"
cleaningTime(df['TIME'][25092])

'00:00'

In [112]:
# originally was 99:99
cleaningTime(df['TIME'][316106])

'00:00'

In [120]:
%timeit df['TIME'] = df['TIME'].apply(cleaningTime)

162 ms ± 1.68 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [121]:
df['TIME'].min(), df['TIME'].max()

('00:00', '23:59')

- This sums it up for me, doesn't seem very valuable if the time is around "00:00", but we can still work with this

In [124]:
df['TIME'].describe()

count     750728
unique      1440
top        00:01
freq       38090
Name: TIME, dtype: object

- UCR and CRIME are somewhat correlated, but also don't fully overlap due to different record keeping each year. Also there are too many of each to quickly graph
    - So making an abbreviated crime column based on the root of the crime and whether or not it was perpetuated _Doing this on the root, because every crime as a "root" and then branches off to more specific crimes under that "root"_

In [27]:
df['UCR'].unique()

array([133, 140, 141, 142, 143, 110, 120, 121, 132, 144, 145, 146, 150,
       170, 171, 151, 152, 153, 154, 155, 156, 172, 173, 174, 190, 191,
       192, 193, 200, 201, 210, 211, 212, 202, 203, 213, 229, 230, 231,
       232, 233, 234, 235, 236, 237, 238, 240, 241, 242, 243, 244, 245,
       246, 247, 248, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 111])

In [28]:
df['CRIME'].unique()

array(['ROBBERY - ATTEMPT STRARM', 'ROBBERY - ARMED HIGHWAY',
       'ROBBERY - ARMED COMER H', 'ROBBERY - ARMED OIL ST',
       'ROBBERY - ARMED CHAIN ST', 'CRIMINAL HOMICIDE', 'RAPE',
       'RAPE - ATTEMPT', 'ROBBERY - ATTMP ARMED',
       'ROBBERY - ARMED RESIDENCE', 'ROBBERY - ARMED BANK',
       'ROBBERY - ARMED MISC', 'ROBBERY - STRARM HIWAY', 'ASSAULT - GUN',
       'ASSAULT - KNIFE', 'ROBBERY - STRARM COMER H',
       'ROBBERY - STRARM OIL ST', 'ROBBERY - STRARM CHAIN ST',
       'ROBBERY - STRARM RESIDENC', 'ROBBERY - STRARM BANK',
       'ROBBERY - STRARM MISC', 'ASSAULT - OTHER WEAPON',
       'ASSAULT - HAND,FIST', 'ASSAULT - SIMPLE',
       'BURG - FRC ENT - RES NGT', 'BURG - FRC ENT - RES DAY',
       'BURG - FRC ENT - NON-RES NG', 'BURG - FRC ENT - NON-RES DA',
       'BURG - NO FRC - RES NGT', 'BURG - NO FRC - RES DAY',
       'BURG - ATTMPT - RES NGT', 'BURG - ATTMPT - RES DAY',
       'BURG - ATTMPT - NON-RES NGT', 'BURG - NO FRC - NON-RES NGT',
       'BURG - NO FRC - NON-RES DAY', 'BURG - ATTMPT - NON-RES DAY',
       'LARCENY - ATTEMPT', 'LARC-OVER 200-PICKPOCKET',
       'LARC-OVER 200-PURSESNATCH', 'LARC-OVER 200-SHOPLIFTING',
       'LARC-OVER 200-FROM VEHICL', 'LARC-OVER 200-VEH ACCESS',
       'LARC-OVER 200-BICYCLE', 'LARC-OVER 200-BUILDING',
       'LARC-OVER 200-COIN OP MAC', 'LARC-OVER 200-OTHER',
       'LARC-50/200-PICKETPOCK', 'LARC-50/200-PURSESNATCH',
       'LARC-50/200-SHOPLIFTING', 'LARC-50/200-FROM VEHICL',
       'LARC-50/200-VEH ACCESS', 'LARC-50/200-BICYCLE',
       'LARC-50/200-BUILDING', 'LARC-50/200-COIN OP MAC',
       'LARC-50/200-OTHER', 'LARC-UNDER 50-PICKPOCK',
       'LARC-UNDER 50-PURSESNATCH', 'LARC-UNDER 50-SHOPLIFTING',
       'LARC-UNDER 50-FROM VEHICL', 'LARC-UNDER 50-VEH ACCESS',
       'LARC-UNDER 50-BICYCLE', 'LARC-UNDER 50-BUILDING',
       'LARC-UNDER 50-COIN OP MAC', 'LARC-UNDER 50-OTHER',
       'VEHICLE THEFT - ATTEMPT', 'VEHICLE THEFT',
       'ATTEMPT ARMED ROBBERY', 'ATTEMPT STRONG ARMED ROBBER',
       'ROBBERY-ARMED-HIWAY', 'MANSLAUGHTER BY NEG', 'RAPE-ATTEMPT',
       'ROBBERY-ARMED-COMMERCIAL HO', 'ROBBERY-ARMED-OIL STATION',
       'ROBBERY-ARMED-CHAIN STORE', 'ROBBERY-ARMED-RESIDENCE',
       'ROBBERY-ARMED-BANK', 'ROBBERY-ARMED-MISCELLANEOUS',
       'ROBBERY-STRONG ARM-HIWAY', 'ROBBERY-STRONG ARM-COMMERCI',
       'ROBBERY-STRONG ARM-OIL STAT', 'ROBBERY-STRONG ARM-CHAIN ST',
       'ROBBERY-STRONG ARM-RESIDENC', 'ROBBERY-STRONG ARM-BANK',
       'ROBBERY-STRONG ARM-MISCELLA', 'AGGRAVATED ASSAULT-GUN',
       'AGGRAVATED ASSAULT-KNIFE', 'AGGRAVATED ASSAULT-OTHER WE',
       'AGGRAVATED ASSAULT-HANDS,FI', 'BURG-FORCIBLE ENT-RES NIGHT',
       'BURG-FORCIBLE ENT-RES DAY', 'BURG-FORCIBLE ENT-NON-RES N',
       'BURG-FORCIBLE ENT-NON-RES D', 'BURG-NO FORCE-RES NIGHT',
       'BURG-NO FORCE-RES DAY', 'BURG-NO FORCE-NON-RES NIGHT',
       'BURG-NO FORCE-NON-RES DAY', 'BURG-ATTEMPT-RES NIGHT',
       'BURG-ATTEMPT-RES DAY', 'BURG-ATTEMPT-NON-RES NIGHT',
       'BURG-ATTEMPT-NON-RES DAY', 'LARCENY-ATTEMPT',
       'LARCENY-OVER 200-SHOPLIFTIN', 'LARCENY-OVER 200-FROM AUTO',
       'LARCENY-OVER 200-POCKETPICK', 'LARCENY-OVER 200-PURSESNATC',
       'LARCENY-OVER 200-AUTO ACCES', 'LARCENY-OVER 200-BICYCLE',
       'LARCENY-OVER 200-FROM BUILD', 'LARCENY-OVER 200-COIN OPERA',
       'LARCENY-OVER 200-OTHER', 'LARCENY-50 TO 200-POCKETPIC',
       'LARCENY-50 TO 200-PURSESNAT', 'LARCENY-50 TO 200-SHOPLIFTI',
       'LARCENY-50 TO 200-FROM AUTO', 'LARCENY-50 TO 200-AUTO ACCE',
       'LARCENY-50 TO 200-BICYCLE', 'LARCENY-50 TO 200-FROM BUIL',
       'LARCENY-50 TO 200-COIN OPER', 'LARCENY-50 TO 200-OTHER',
       'LARCENY-UNDER 50-POCKETPICK', 'LARCENY-UNDER 50-PURSESNATC',
       'LARCENY-UNDER 50-SHOPLIFTIN', 'LARCENY-UNDER 50-FROM AUTO',
       'LARCENY-UNDER 50-AUTO ACCES', 'LARCENY-UNDER 50-BICYCLE',
       'LARCENY-UNDER 50-FROM BUILD', 'LARCENY-UNDER 50-COIN OPERA',
       'LARCENY-UNDER 50-OTHER', 'STOLEN VEHICLE',
       'ATTEMPT VEHICLE THEFT', ' CRIMINAL HOMICIDE',
       'ATTEMPT STRONG ARMED ROBBERY', 'ROBBERY-ARMED-COMMERCIAL HOU',
       'ROBBERY-STRONG ARM-COMMERCIA', 'ROBBERY-STRONG ARM-RESIDENCE',
       'AGGRAVATED ASSAULT-OTHER WEA', 'AGGRAVATED ASSAULT-HANDS,FIS',
       'BURG-FORCIBLE ENT-NON-RES NI', 'BURG-FORCIBLE ENT-NON-RES DA',
       'LARCENY-OVER 200-POCKETPICKI', 'LARCENY-OVER 200-SHOPLIFTING',
       'LARCENY-UNDER 50-POCKETPICKI', 'LARCENY-UNDER 50-SHOPLIFTING',
       'LARCENY-UNDER 50-AUTO ACCESS', 'LARCENY-UNDER 50-FROM BUILDI',
       'LARCENY-OVER 200-AUTO ACCESS', 'LARCENY-OVER 200-FROM BUILDI',
       'LARCENY-50 TO 200-POCKETPICK', 'LARCENY-50 TO 200-PURSESNATC',
       'LARCENY-50 TO 200-SHOPLIFTIN', 'LARCENY-50 TO 200-AUTO ACCES',
       'LARCENY-50 TO 200-FROM BUILD'], dtype=object)

In [29]:
len(df['CRIME'].unique())

152

In [30]:
len(df['UCR'].unique())

67

- Also the UCR does not follow an overly obvious pattern grouping all crimes (ie roberry spans the 130s, 140s, 150s). So the abbriviation will be based on crime

In [31]:
df[(df['UCR'] == 150)][0:5]

,OBJECTID,UCR,CRIME,DATE_,TIME,CASE,ADDRESS,BEAT,X_COORD,Y_COORD,YMD,YEAR,MONTH,DAY,WEEKDAY
3458,3459,150,ROBBERY - STRARM HIWAY,2007-01-01 00:00:00+00:00,03:00,070000241I,01100 E SOUTHERN AV,SE22,195081.93,1632830.52,2007-01-01,2007,1,01,Mon
3459,3460,150,ROBBERY - STRARM HIWAY,2007-01-02 00:00:00+00:00,21:15,070000937I,05501 E 82ND ST,ND62,213795.84,1696362.93,2007-01-02,2007,1,02,Tue
3460,3461,150,ROBBERY - STRARM HIWAY,2007-01-03 00:00:00+00:00,00:01,070000998I,02200 N COLLEGE AV,NE11,193731.90,1657365.20,2007-01-03,2007,1,03,Wed
3461,3462,150,ROBBERY - STRARM HIWAY,2007-01-03 00:00:00+00:00,01:54,070001024I,02600 W WESTLANE RD,ND73,176833.67,1689575.71,2007-01-03,2007,1,03,Wed
3462,3463,150,ROBBERY - STRARM HIWAY,2007-01-03 00:00:00+00:00,07:05,070001077I,03630 N GUION RD,NW22,172358.99,1666000.11,2007-01-03,2007,1,03,Wed

In [32]:
df[(df['UCR'] == 145)][0:5]

,OBJECTID,UCR,CRIME,DATE_,TIME,CASE,ADDRESS,BEAT,X_COORD,Y_COORD,YMD,YEAR,MONTH,DAY,WEEKDAY
3394,3395,145,ROBBERY - ARMED BANK,2007-01-04 00:00:00+00:00,09:45,070001701I,02030 N POST RD,NE62,231748.46,1656513.29,2007-01-04,2007,1,04,Thu
3395,3396,145,ROBBERY - ARMED BANK,2007-01-04 00:00:00+00:00,09:46,070001702I,02411 E 71ST ST,ND62,200334.67,1688469.68,2007-01-04,2007,1,04,Thu
3396,3397,145,ROBBERY - ARMED BANK,2007-01-13 00:00:00+00:00,12:00,070006575I,05930 W 86TH ST,NW81,159991.68,1698683.46,2007-01-13,2007,1,13,Sat
3397,3398,145,ROBBERY - ARMED BANK,2007-01-16 00:00:00+00:00,00:01,070008028I,02411 E 71ST ST,ND62,200334.67,1688469.68,2007-01-16,2007,1,16,Tue
3398,3399,145,ROBBERY - ARMED BANK,2007-01-17 00:00:00+00:00,10:45,070008459I,01417 W 86TH ST,ND71,182850.42,1699108.75,2007-01-17,2007,1,17,Wed

In [33]:
df[(df['UCR'] == 133)][0:5]

,OBJECTID,UCR,CRIME,DATE_,TIME,CASE,ADDRESS,BEAT,X_COORD,Y_COORD,YMD,YEAR,MONTH,DAY,WEEKDAY
0,1001,133,ROBBERY - ATTEMPT STRARM,2007-03-21 00:00:00+00:00,20:30,070040361I,02200 N MERIDIAN ST,NW13,190236.37,1657266.05,2007-03-21,2007,3,21,Wed
1,1002,133,ROBBERY - ATTEMPT STRARM,2007-03-24 00:00:00+00:00,12:53,070041855I,05630 FLIGHT SCHOOL DR,SW72,161402.77,1621638.94,2007-03-24,2007,3,24,Sat
2,1003,133,ROBBERY - ATTEMPT STRARM,2007-03-24 00:00:00+00:00,23:29,070042125I,05349 W PIKE PLAZA RD,NW33,163351.68,1669325.90,2007-03-24,2007,3,24,Sat
3,1004,133,ROBBERY - ATTEMPT STRARM,2007-03-25 00:00:00+00:00,04:05,070042251I,00200 SPICEWOOD DR,SE31,191124.92,1626135.34,2007-03-25,2007,3,25,Sun
4,1005,133,ROBBERY - ATTEMPT STRARM,2007-03-25 00:00:00+00:00,18:01,070000517I,11351 E WASHINGTON ST,NE63,244320.27,1649255.47,2007-03-25,2007,3,25,Sun

- To make the abbrivation, I'll be splitting the observation/cell on the "-" that all crimes with branches have. But since not all crimes have any branches, we'll add a "-" to every obersvation (every observation, since it's faster than writing a list comprehension or if/else checking if the observation has a "-".

In [34]:
df['CRIME'].str.contains(' - ATTEMPT', regex=False)

0          True
1          True
2          True
3          True
4          True
          ...
750723    False
750724    False
750725    False
750726    False
750727    False
Name: CRIME, Length: 750728, dtype: bool

In [35]:
df['ABBR_CRIME'] = df['CRIME'].astype(str) + " - "

In [36]:
df['ABBR_CRIME'] = df['ABBR_CRIME'].str.replace(pat="\- ATTEMPT", 
                                                repl="ATTEMPT- ") # ensuring the "attempted" crimes are kept since they were not perpetuated
df['ABBR_CRIME'] = df['ABBR_CRIME'].str.split('-').str.get(0) # turning column into a list of strings, then returning only the first item in the list
df['ABBR_CRIME'] = df['ABBR_CRIME'].str.strip() # removing excess white space

- Making a factor of the abbreviated crimes
    - Which also doubles as a way to narrow down the "root" of the crimes, which will make it easier to graph

In [37]:
factored_abbreviated_crime = df['ABBR_CRIME'].unique()
sorted(factored_abbreviated_crime)

['AGGRAVATED ASSAULT',
 'ASSAULT',
 'ATTEMPT ARMED ROBBERY',
 'ATTEMPT STRONG ARMED ROBBER',
 'ATTEMPT STRONG ARMED ROBBERY',
 'ATTEMPT VEHICLE THEFT',
 'BURG',
 'CRIMINAL HOMICIDE',
 'LARC',
 'LARCENY',
 'LARCENY ATTEMPT',
 'MANSLAUGHTER BY NEG',
 'RAPE',
 'RAPE ATTEMPT',
 'ROBBERY',
 'ROBBERY ATTEMPT',
 'STOLEN VEHICLE',
 'VEHICLE THEFT',
 'VEHICLE THEFT ATTEMPT']

In [38]:
df['ABBR_CRIME'] = df['ABBR_CRIME'].replace(['LARC', 'AB'], 'LARCENY')


df['ABBR_CRIME'] = df['ABBR_CRIME'].replace(["BURG", "BURGLARY"],
                                                "BURGLARY")

df['ABBR_CRIME'] = df['ABBR_CRIME'].replace(["ATTEMPT STRONG ARMED ROBBER", "ATTEMPT ARMED ROBBERY", "ATTEMPT STRONG ARMED ROBBERY"], 
                                            "ROBBERY ATTEMPT")

df['ABBR_CRIME'] = df['ABBR_CRIME'].str.replace(pat="ATTEMPT VEHICLE THEFT", 
                                                repl="VEHICLE THEFT ATTEMPT")


df['ABBR_CRIME'] = df['ABBR_CRIME'].str.replace(pat="STOLEN VEHICLE", 
                                                repl="VEHICLE THEFT")

df['ABBR_CRIME'] = df['ABBR_CRIME'].str.replace(pat="AGGRAVATED ASSAULT", 
                                                repl="ASSAULT")

df['ABBR_CRIME'] = df['ABBR_CRIME'].str.replace(pat="MANSLAUGHTER BY NEG", 
                                                repl="MANSLAUGHTER BY NEGLEGENCE")

In [39]:
factored_abbreviated_crime = df['ABBR_CRIME'].unique()
sorted(factored_abbreviated_crime)

['ASSAULT',
 'BURGLARY',
 'CRIMINAL HOMICIDE',
 'LARCENY',
 'LARCENY ATTEMPT',
 'MANSLAUGHTER BY NEGLEGENCE',
 'RAPE',
 'RAPE ATTEMPT',
 'ROBBERY',
 'ROBBERY ATTEMPT',
 'VEHICLE THEFT',
 'VEHICLE THEFT ATTEMPT']

In [40]:
len(factored_abbreviated_crime)

12

In [126]:
df

,OBJECTID,UCR,CRIME,DATE_,TIME,CASE,ADDRESS,BEAT,X_COORD,Y_COORD,YMD,YEAR,MONTH,DAY,WEEKDAY,ABBR_CRIME
0,1001,133,ROBBERY - ATTEMPT STRARM,2007-03-21 00:00:00+00:00,20:30,070040361I,02200 N MERIDIAN ST,NW13,190236.37,1657266.05,2007-03-21,2007,3,21,Wed,ROBBERY ATTEMPT
1,1002,133,ROBBERY - ATTEMPT STRARM,2007-03-24 00:00:00+00:00,12:53,070041855I,05630 FLIGHT SCHOOL DR,SW72,161402.77,1621638.94,2007-03-24,2007,3,24,Sat,ROBBERY ATTEMPT
2,1003,133,ROBBERY - ATTEMPT STRARM,2007-03-24 00:00:00+00:00,23:29,070042125I,05349 W PIKE PLAZA RD,NW33,163351.68,1669325.90,2007-03-24,2007,3,24,Sat,ROBBERY ATTEMPT
3,1004,133,ROBBERY - ATTEMPT STRARM,2007-03-25 00:00:00+00:00,04:05,070042251I,00200 SPICEWOOD DR,SE31,191124.92,1626135.34,2007-03-25,2007,3,25,Sun,ROBBERY ATTEMPT
4,1005,133,ROBBERY - ATTEMPT STRARM,2007-03-25 00:00:00+00:00,18:01,070000517I,11351 E WASHINGTON ST,NE63,244320.27,1649255.47,2007-03-25,2007,3,25,Sun,ROBBERY ATTEMPT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750723,129191,258,LARCENY-UNDER 50-OTHER,2019-01-11 00:00:00+00:00,13:00,I190004039A,2810 DR ANDREW J BROWN AVE,NE12,196230.57,1660874.61,2019-01-11,2019,1,11,Fri,LARCENY
750724,129192,258,LARCENY-UNDER 50-OTHER,2019-01-11 00:00:00+00:00,17:16,I190004106A,222 OHMER AVE,NE42,212277.20,1645989.05,2019-01-11,2019,1,11,Fri,LARCENY
750725,129193,258,LARCENY-UNDER 50-OTHER,2019-01-12 00:00:00+00:00,15:00,I190005609A,645 N TEMPLE AVE,NE22,200991.29,1649956.68,2019-01-12,2019,1,12,Sat,LARCENY
750726,129194,258,LARCENY-UNDER 50-OTHER,2019-01-12 00:00:00+00:00,00:00,I190006119A,901 FORT WAYNE AVE,DT21,191875.35,1650568.75,2019-01-12,2019,1,12,Sat,LARCENY
750727,129195,258,LARCENY-UNDER 50-OTHER,2019-01-13 00:00:00+00:00,11:45,I190004551A,6500 E WASHINGTON ST,NE42,218623.90,1647752.48,2019-01-13,2019,1,13,Sun,LARCENY

In [140]:
def convertYtoLat(y):
    return (47 + (y / 6096 / 60))

In [141]:
def convartXtoLon(x):
    import math
    return (-117.2 - (x / (6096 * math.cos(47.58)) / 60))

In [142]:
y = df.copy()

In [146]:
convartXtoLon(y['X_COORD'][1])

-116.70847180415454

In [145]:
convertYtoLat(y['Y_COORD'][1])

51.433614774715664

In [ ]:
-116.70847180415454, 51.433614774715664

In [149]:
import pyproj
import math

P = pyproj.Proj(proj='utm', zone=31, ellps='WGS84', preserve_units=True)
G = pyproj.Geod(ellps='WGS84')

In [152]:
help(pyproj.Proj)

Help on class Proj in module pyproj.proj:

class Proj(pyproj._proj._Proj)
 |  Performs cartographic transformations (converts from
 |  longitude,latitude to native map projection x,y coordinates and
 |  vice versa) using PROJ (https://proj.org).
 |
 |  A Proj class instance is initialized with proj map projection
 |  control parameter key/value pairs. The key/value pairs can
 |  either be passed in a dictionary, or as keyword arguments,
 |  or as a PROJ string (compatible with the proj command). See
 |  https://proj.org/operations/projections/index.html for examples of
 |  key/value pairs defining different map projections.
 |
 |  Calling a Proj class instance with the arguments lon, lat will
 |  convert lon/lat (in degrees) to x/y native map projection
 |  coordinates (in meters).  If optional keyword 'inverse' is True
 |  (default is False), the inverse transformation from x/y to
 |  lon/lat is performed. If optional keyword 'errcheck' is True (default is
 |  False) an exception is raised if the transformation is invalid.
 |  If errcheck=False and the transformation is invalid, no
 |  exception is raised and 'inf' is returned. If the optional keyword
 |  'preserve_units' is True, the units in map projection coordinates
 |  are not forced to be meters.
 |
 |  Works with numpy and regular python array objects, python
 |  sequences and scalars.
 |
 |  Attributes
 |  ----------
 |  srs: str
 |      The string form of the user input used to create the Proj.
 |  crs: pyproj.crs.CRS
 |      The CRS object associated with the Proj.
 |
 |  Method resolution order:
 |      Proj
 |      pyproj._proj._Proj
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __call__(self, *args, **kw) -> Tuple[Any, Any]
 |      Calling a Proj class instance with the arguments lon, lat will
 |      convert lon/lat (in degrees) to x/y native map projection
 |      coordinates (in meters).  If optional keyword 'inverse' is True
 |      (default is False), the inverse transformation from x/y to
 |      lon/lat is performed. If optional keyword 'errcheck' is True (default is
 |      False) an exception is raised if the transformation is invalid.
 |      If errcheck=False and the transformation is invalid, no
 |      exception is raised and 'inf' is returned.
 |
 |      Inputs should be doubles (they will be cast to doubles if they
 |      are not, causing a slight performance hit).
 |
 |      Works with numpy and regular python array objects, python
 |      sequences and scalars, but is fastest for array objects.
 |
 |  __eq__(self, other:Any) -> bool
 |      Return self==value.
 |
 |  __init__(self, projparams:Any=None, preserve_units:bool=True, **kwargs) -> None
 |      initialize a Proj class instance.
 |
 |      See the PROJ documentation (https://proj.org)
 |      for more information about projection parameters.
 |
 |      Parameters
 |      ----------
 |      projparams: int, str, dict, pyproj.CRS
 |          A PROJ or WKT string, PROJ dict, EPSG integer, or a pyproj.CRS instance.
 |      preserve_units: bool
 |          If false, will ensure +units=m.
 |      **kwargs:
 |          PROJ projection parameters.
 |
 |
 |      Example usage:
 |
 |      >>> from pyproj import Proj
 |      >>> p = Proj(proj='utm',zone=10,ellps='WGS84', preserve_units=False)
 |      >>> x,y = p(-120.108, 34.36116666)
 |      >>> 'x=%9.3f y=%11.3f' % (x,y)
 |      'x=765975.641 y=3805993.134'
 |      >>> 'lon=%8.3f lat=%5.3f' % p(x,y,inverse=True)
 |      'lon=-120.108 lat=34.361'
 |      >>> # do 3 cities at a time in a tuple (Fresno, LA, SF)
 |      >>> lons = (-119.72,-118.40,-122.38)
 |      >>> lats = (36.77, 33.93, 37.62 )
 |      >>> x,y = p(lons, lats)
 |      >>> 'x: %9.3f %9.3f %9.3f' % x
 |      'x: 792763.863 925321.537 554714.301'
 |      >>> 'y: %9.3f %9.3f %9.3f' % y
 |      'y: 4074377.617 3763936.941 4163835.303'
 |      >>> lons, lats = p(x, y, inverse=True) # inverse transform
 |      >>> 'lons: %8.3f %8.3f %8.3f' % lons
 |      'lons: -119.720 -118.400 -122.380'
 |      >>> 'lats: %8.3f %8.3f %8.3f' % lats
 |      'lats:   36.770   33.930   37.620'
 |      >>> p2 = Proj('+proj=utm +zone=10 +ellps=WGS84', preserve_units=False)
 |      >>> x,y = p2(-120.108, 34.36116666)
 |      >>> 'x=%9.3f y=%11.3f' % (x,y)
 |      'x=765975.641 y=3805993.134'
 |      >>> p = Proj("epsg:32667", preserve_units=False)
 |      >>> 'x=%12.3f y=%12.3f (meters)' % p(-114.057222, 51.045)
 |      'x=-1783506.250 y= 6193827.033 (meters)'
 |      >>> p = Proj("epsg:32667")
 |      >>> 'x=%12.3f y=%12.3f (feet)' % p(-114.057222, 51.045)
 |      'x=-5851386.754 y=20320914.191 (feet)'
 |      >>> # test data with radian inputs
 |      >>> p1 = Proj("epsg:4214")
 |      >>> x1, y1 = p1(116.366, 39.867)
 |      >>> '{:.3f} {:.3f}'.format(x1, y1)
 |      '116.366 39.867'
 |      >>> x2, y2 = p1(x1, y1, inverse=True)
 |      >>> '{:.3f} {:.3f}'.format(x2, y2)
 |      '116.366 39.867'
 |
 |  __reduce__(self) -> Tuple[Type[_ForwardRef('Proj')], Tuple[str]]
 |      special method that allows pyproj.Proj instance to be pickled
 |
 |  __repr__(self) -> str
 |      Return repr(self).
 |
 |  definition_string(self) -> str
 |      Returns formal definition string for projection
 |
 |      >>> Proj("epsg:4326").definition_string()
 |      'proj=longlat datum=WGS84 no_defs ellps=WGS84 towgs84=0,0,0'
 |
 |  get_factors(self, longitude:Any, latitude:Any, radians:bool=False, errcheck:bool=False) -> importlib._bootstrap.Factors
 |      .. versionadded:: 2.6.0
 |
 |      Calculate various cartographic properties, such as scale factors, angular
 |      distortion and meridian convergence. Depending on the underlying projection
 |      values will be calculated either numerically (default) or analytically.
 |
 |      The function also calculates the partial derivatives of the given
 |      coordinate.
 |
 |      Parameters
 |      ----------
 |      longitude: scalar or array (numpy or python)
 |          Input longitude coordinate(s).
 |      latitude: scalar or array (numpy or python)
 |          Input latitude coordinate(s).
 |      radians: boolean, optional
 |          If True, will expect input data to be in radians.
 |          Default is False (degrees).
 |      errcheck: boolean, optional (default False)
 |          If True an exception is raised if the errors are found in the process.
 |          By default errcheck=False and ``inf`` is returned.
 |
 |      Returns
 |      -------
 |      Factors
 |
 |  to_latlong(self) -> 'Proj'
 |      return a new Proj instance which is the geographic (lat/lon)
 |      coordinate version of the current projection
 |
 |  to_latlong_def(self) -> Union[str, NoneType]
 |      return the definition string of the geographic (lat/lon)
 |      coordinate version of the current projection
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from pyproj._proj._Proj:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __setstate__ = __setstate_cython__(...)
 |      _Proj.__setstate_cython__(self, __pyx_state)
 |
 |  is_exact_same(...)
 |      _Proj.is_exact_same(self, other)
 |      Compares Proj objects to see if they are exactly the same.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from pyproj._proj._Proj:
 |
 |  definition
 |
 |  has_inverse
 |      Returns true if this projection has an inverse
 |
 |  srs

In [151]:
def LatLon_To_XY(Lat,Lon):
    return P(Lat,Lon)    

def XY_To_LatLon(x,y):
    return P(x,y,inverse=True)    

def distance(Lat1, Lon1, Lat2, Lon2):
    return G.inv(Lon1, Lat1, Lon2, Lat2)[2]

In [155]:
from pyproj import Proj
pnyc = Proj(
     proj='lcc',
     datum='NAD83',
     lat_1=39.768331,
#      lat_2=41.033333,
#      lat_0=40.166667,
     lon_0=-86.583502,
     x_0=984250.0,
     y_0=0.0)
x = [161402.77] # 161402.77 	1621638.94
y = [1621638.94]
lon, lat = pnyc(x, y, inverse=True)
lon, lat

([-94.68502915280463], [14.977974650944603])

In [ ]:
39.7683331, -86.1583502